@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    @apply w-screen h-screen justify-between flex flex-col relative
}

body {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    height: 0px;
    width: 8px;
    border-radius: 8px;
    margin-right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1E1E1E;
}